.horariosViernes table {
	border: 1px solid #D1D1D1;
	border-collapse: collapse;
}
.horariosJueves table , td, th {
	border-bottom: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-collapse: collapse;
}
.horariosJueves td, th {
	padding: 3px;
  font-size: 14px;
}
.horariosJueves th {
	background-color: #F3B89B;
}


.horariosViernes table {
	border: 1px solid #D1D1D1;
	border-collapse: collapse;
}
.horariosViernes table , td, th {
	border-bottom: 1px solid #D1D1D1;
	border-collapse: collapse;
}
.horariosViernes td, th {
	padding: 3px;
  font-size: 14px;
}
.horariosViernes th {
	background-color: #FDE3A2;
}

.bg-yellow {
	background-color: #FFF8E8;
 }


.bg-pink {
 background-color: #FCECE6;
}
